@import "tailwindcss";

/* Your custom theme */
@theme {
  /* Colors */
  --color-brand-red: #b40000;
  --color-brand-red-400: #b33f3f;
  --color-brand-red-500: #b02022;
  --color-brand-red-600: #b40000;

  --color-gold: #d9a028;
  --color-gold-100: #f9e79f;
  --color-gold-200: #fce587;
  --color-gold-300: #ffd142;
  --color-gold-400: #ffd700;
  --color-gold-500: #fac213;
  --color-gold-600: #d9a028;
  --color-gold-700: #b28422;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #777777;
  --color-light-gray: #f5f5f5;

  /* Font sizes */
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  /* Shadows */
  --shadow-base: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
